<div class="content">

	<h1>Hi, <%= current_user.name %></h1>

		<%= link_to "Add Team", new_team_path, class: 'new-team-btn' %>
		<%= link_to "View Games", games_path, class: 'view-games-btn' %>

	<div class="teams-list-container">
		<h2>Your Teams:</h2>
		<ul>
			<% current_user.teams.each do |team| %>
				<li>
					<span class="team-names"><%= link_to team.name, team %></span>
					<span class="team-modifiers"><%= link_to "+ player", new_team_player_path(team) %></span>
					<span class="team-modifiers"><%= link_to "+ game", new_team_game_path(team) %></span>
				</li>
			<% end %>
		</ul>
	</div>

	<div class="upcoming-games-container">
		<h2>Upcoming Games:</h2>
		<ul>
			<%= render partial: "games/listitem", collection: @games %>
		</ul>
	</div>

</div>
