<div class="content">
	<%= link_to "<< Back to Team", team_path(@team) %>
	<h1>Add a new Game for <%= @team.name %></h1>

	<%= form_for [@team, @game], url: team_games_path do |f| %>

		<%= f.label :location %>
		<%= f.text_field :location, value: @team.default_location %>

		<%= f.label :time %>
		<%= f.datetime_select :time, :ampm => true, :minute_step => 15 %>

		<%= f.label :home_game? %>
		<%= f.check_box :home_team %>

		<%= f.label :opposing_team %>
		<%= f.text_field :opposing_team %>

		<%= f.label :players_required %>
		<%= f.text_field :players_required, value: @team.default_required_players %>

		<%= f.submit "Submit" %>

	<% end %>

</div>
