<div class="content">

	<h1><%= @game.name %></h1>
	<ul>
		<li><%= @game.location %></li>
		<li><%= @game.clean_time %></li>
	</ul>

	<h4>Confirmed Players <%= @game.confirmed_players.count %> / <%= @game.players_required %></h2>
	<ul>
		<% @game.confirmed_players.each do |player| %>
			<li>
				<span class='team-names'><%= link_to player.name, player %></span>
				<span class='team-modifiers'><%= link_to "Decline", "/games/#{@game.id}/players/#{player.id}/decline" %></span>
			</li>
		<% end %>
	</ul>

	<h4>Unconfirmed Players (<%= @game.players_without_confirmations.count %>)</h2>
	<ul>
		<% @game.players_without_confirmations.each do |player| %>
			<li>
				<span class='team-names'><%= link_to player.name, player %></span>
				<span class='team-modifiers'><%= link_to "Confirm", "/games/#{@game.id}/players/#{player.id}/confirm" %></span>
				<span class='team-modifiers'><%= link_to "Decline", "/games/#{@game.id}/players/#{player.id}/decline" %></span>
			</li>
		<% end %>
	</ul>

	<h4>Declined Players (<%= @game.declined_players.count %>)</h2>
	<ul>
		<% @game.declined_players.each do |player| %>
			<li>
				<span class='team-names'><%= link_to player.name, player %></span>
				<span class='team-modifiers'><%= link_to "Confirm", "/games/#{@game.id}/players/#{player.id}/confirm" %></span>
			</li>
		<% end %>
	</ul>


</div>
