<div class="content">

  <%= link_to "<< Back to Team", team_path(@team) %>

	<h1>Add a Player to <%= @team.name %></h1><br>

  <p>Enter a new player OR select existing player from drop-down list below.</p>
	<%= form_for [@team, @player] do |f| %>

		<%= f.label :name %>
		<%= f.text_field :name %>

		<%= f.label :phone_number_with_area_code %>
    <%= f.text_field :phone_number %>

    <%= f.label :core_player? %>
    <%= f.check_box :core %>

		<%= f.submit "Add Player" %>

	<% end %>
<hr>
<p>Select existing player:</p>
  <%= form_for Roster.new, url: team_rosters_path do |f| %>

    <%= f.select :player_id, (current_user.players - @team.players).collect { |p| [ p.name, p.id ] }, include_blank: true %>

    <%= f.label :core_player %>
    <%= f.check_box :core %>

    <%= f.submit "Add Player" %>

  <% end %>

</div>
